<h1>This is the blog</h1>



<div class="space-frame"
2
     data-enter="rotateInQuarterClockwise fadeIn"
3
     data-exit="fadeOut scaleOut"
4
     data-duration="1.3">
5
  <section class="space-inner-frame">
6
    <p>Content goes here</p>
7
  </section>
8
</div>
<div class="space-frame"
2
     data-enter="rotateInQuarterClockwise fadeIn"
3
     data-exit="fadeOut scaleOut"
4
     data-duration="1.3">
5
  <section class="space-inner-frame">
6
    <p>Content goes here</p>
7
  </section>
8
</div>
<div class="space-frame"
2
     data-enter="rotateInQuarterClockwise fadeIn"
3
     data-exit="fadeOut scaleOut"
4
     data-duration="1.3">
5
  <section class="space-inner-frame">
6
    <p>Content goes here</p>
7
  </section>
8
</div>


