<h1>This is the blog</h1>



<div>
  <div class="space-frame" data-enter="fadeIn" data-exit="zoomOut fadeOut" data-duration="">
    <section class="space-inner-frame">
      <div style="background-image:url(bg2.jpg); padding:150px 200px;">
        <section>
          <div>It works!</div>
        </section>
    </section>
  </div>

  <div class="space-frame" data-transition="rotate360">
    <section data-enter="fadeIn" class="space-inner-frame">
      <div style="background-image:url(bg2.jpg); padding:150px 200px;">
        <section>
          <div>It works!!</div>
        </section>
      </div>
    </section>
  </div>

  <div class="space-frame">
    <section class="space-inner-frame" data-enter="fadeIn" data-exit="zoomOut fadeOut">
      <div style="background-image:url(bg2.jpg); padding:150px 200px;">
        <section>
          <div>It works!!!</div>
        </section>
      </div>
    </section>
  </div>
</div>